@model ResumeWebsite.Models.MainViewModels.PersonalInformationViewModel
@{
    ViewData["Title"] = "Tappasarn Page";
}
<div class="card opal">
<div>
    <img class="align-center img-circle" src="~/images/11053628_10153308249619597_2672511713719356150_o.jpg">
</div>
<div class="text-center">
    <div>
        <i class="material-icons md-36 info-padding">face</i>
    </div>
    <h1><b>@Model.FullName</b></h1>
    <div><b>Age :</b> @Model.Age</div>
    <div>Computer Engineer - Software Engineer - Programmer</div>
</div>
</div>

<div class="card dancer">
    <div>
        <i class="material-icons">email</i>
        <span class="topic-text">Contact</span>
    </div>
    <div><b>Mobile :</b> +668 9 484 9658</div>
    <div><b>Email :</b>
        <text>time723@gmail.com</text>
    </div>
    <div><b>Address :</b> @Model.Address</div>
</div>

<div class="card dancer">
    <div>
        <i class="material-icons">school</i>
        <span class="topic-text">Education Profile</span>
    </div>
    <div><b>Mahidol University International College</b></div>
    <div><b>Degree :</b> Bachelor of Engineering </div>
    <div><b>CUM GPA :</b> 3.58</div>
</div>

<div class="card dancer">
    <div>
        <i class="material-icons">web</i>
        <span class = "topic-text">Skills</span>
    </div>
    <div><b>ASP.NET / ASP.NET CORE Framework :</b> Web Application and Web API</div>
    <div><b>Mobile Application :</b> Android (Java) and Xamarin (C# cross-platform)</div>
    <div><b>Programming Languages :</b> Java, C, C#, JavaScript, Python, html5, SCSS, and Octave</div>
    <div><b>Source Control :</b> Git (GitLab and GitHub)</div>
    <div><b>Object Oriented Design Pattern :</b> S.O.L.I.D</div>
    <div><b>Software Testing :</b> NUnit Framework for unit testing and Selenium test / JavaScript Test / Database Testing</div>
    <div><b>Database :</b>MsSQL and SQLite</div>
    <div><b>ETC... :</b> Agile software developemnt, Distributed System, Machine Learning</div>
</div>

<div class="card dancer">
    <div>
        <i class="material-icons">computer</i>
        <span class = "topic-text">Working Experience</span>
    </div>
    <div><b>Intern : </b>ESRI Thailand</div>
    <div><b>Current Job :</b> Software Engineer (full stack) at AGODA.COM</div>
    <div><b>Teacher Assistance :</b> Mahidol University International College EGCI 111 Computer Programming (using C)</div>
</div>
<div class="card dancer">
    <div>
        <i class="material-icons">assignment</i>
        <span class = "topic-text">Projects and Achivements</span>
    </div>
    <div><b>ACM ICPC :</b> Asia Thailand National On-site</div> 
    <div><b>Authorship :</b> Assistance Researcher on Attribution Analysis of Thai Online Messages Project</div>
    <div><b>Distributed System :</b> Using Command line Hadoop with 4 mac mini to compute string matching on big data : https://github.com/tappasarn/hadoop-tappasarn</div>
    <div><b>Pattern Recognition :</b> Using knn algorithm to crack captcha number format of a website and Using Collaborative Filtering, Linear Regression, and Gradient Descent to implement recommender system : https://github.com/tappasarn/popcorn-</div>
</div>